.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
  justify-content: center;
  align-items: center;
  padding: 12px 13px;
  gap: 8px;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.input-text {
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
}

.input-submit {
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
}
.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.btn-plus {
  color: darkcyan;
  font-size: 20px;
}

.btn-trash {
  color: orangered;
  font-size: 16px;
}

.btn-plus:hover,
.btn-trash:hover {
  opacity: 0.5;
}

.empty-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 0.75rem;
  color: var(--gray-50);
  font-size: 2.5rem;
  letter-spacing: 1.5rem;
}

.item {
  padding: 17px 1.5rem;
  border-bottom: 1px solid var(--gray-100);
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  list-style-type: none;
}
.item:hover {
  background-color: var(--gray-100);
  opacity: 0.85;
}

.item-option {
  float: right;
}

.item-option button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
