.dropdown-list_inner {
  height: 150px;
  overflow-y: auto;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  max-height: 164px;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: var(--base-border-radius);
  background-color: var(--white);
  list-style: none;
  z-index: 5555;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.48);
}

.dropdown-item_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--base-border-radius);
}

.dropdown-item {
  padding: 5px 5px;
  border-radius: 3px;
}

.dropdown-item_container:hover {
  background-color: var(--neutral-100);
}

.dropdown-item_container:focus,
.dropdown-item_container:focus-within,
.dropdown-item_container:active {
  background-color: var(--green-100);
}

.keyword-mark {
  color: var(--green-500);
}

.highlight-text {
  color: var(--green-500);
}
